/* Regole globali per desktop */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #cb8f6f;
}

div#container {
	width: 1024px; /* utilizziamo una larghezza fissa per il contenitore esterno */
	border: 1px solid #000;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;

}

/* Sezione banner */

div#banner {
	width: 100%;
	padding: 2% 0%;
	background-image: url();
	border-bottom: 1px solid #000;
}

div#banner h1 {
	text-align: center;

}

/* Sezione menu di navigazione */

div#navigation {
	width: 100%;
	background-image: url();
	float: left;
	border-bottom: 1px solid #000;

}

span.menu_item {
	float: left;
    width: 10.89173%;
	text-align:center;
	padding: 2% 0%;
	

}

span.menu_item_selected {
	float: left;
    width: 11.11%;
	text-align:center;
	padding: 2% 0%;
}

/* Sezione contenuto */

div#content {
	width: 100%;
	float: left;
	
}

/* Spalla sinistra */

div#left_section {
	width: 70%;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	float: left;
	padding-top: 2%;
	padding-bottom: 2%;
}

div#left_section h1 {
	text-align:center;

}

div#left_section h2 {
	text-align:center;
}

div#left_section h3 {
	text-align:center;
}

div#left_section div {
	/* sezione in cui ci andrà l'intestazione della home */
}

div#left_section div + div {
	/* sezione in cui ci andrà l'immagine di slideshow */
	background-image: url();
}


div#right_section {
	padding-top: 2%;
	width: 29%;
	float: left;
	text-align: center;
}

/* Spalla destra */

div#right_section h1 {

}

span.news {

}

div.news {

}

div.news h1 {

}

div.news a {

}

div.news p {

}

span.news_date {

}

/* Sezione footer */

div#footer {
	width: 25%;
	
	float: left;
}

div#footer p {

}

div#footer a {

}

img.social_icon {

width: 50px;
}