/* Regole globali per desktop */

* {

}

body {
	
}

div#container {
	width: 1024px;
	border: 1px solid #000;
	margin-left: auto;
	margin-right: auto;
}

/* Sezione banner */

div#banner {
	width: 100%;
	padding: 2% 0%;
	border-bottom: 1px solid #000;
	background-image: url();
}

div#banner h1 {
	text-align: center;

}

/* Sezione menu di navigazione */

div#navigation {
	width: 100%;
	
	border-bottom: 1px solid #000;
	background-image: url();
	float: left;

}

span.menu_item {
	float: left;
    width: 10.89173%;
	text-align:center;
	padding: 2% 0%;
	

}

span.menu_item_selected {
	float: left;
    width: 11.11%;
	text-align:center;
	padding: 2% 0%;
}

/* Sezione contenuto */

div#content {

}

/* Spalla sinistra */

div#left_section {

}

div#left_section h1 {

}

div#left_section h2 {

}

div#left_section h3 {

}

div#left_section div {
	/* sezione in cui ci andrà l'intestazione della home */
}

div#left_section div + div {
	/* sezione in cui ci andrà l'immagine di slideshow */
}


div#right_section {

}

/* Spalla destra */

div#right_section h1 {

}

span.news {

}

div.news {

}

div.news h1 {

}

div.news a {

}

div.news p {

}

span.news_date {

}

/* Sezione footer */

div#footer {

}

div#footer p {

}

div#footer a {

}

img.social_icon {

}