/* Regole globali per desktop */

* {
	margin: 0;
	padding: 0;
}

a {
	color: #FFF;
}

body {
	background: url(../images/slideshow/1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ab8d77;
	font-family: 'EB Garamond', serif;
	font-size: 102%;
	}

/* header */

div#header {
	padding: 2%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 200px;
	background: url(../images/dotted-bg.png);
}

div#banner {
	width: 100%;
	background: url(../images/banner.png) ;
	background-size: 100%;
	height: 81px;
	
}

div#banner h1 {
	display: none;
}

/* menu di navigazione a sx */

div#navigation {
	padding: 2%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 200px;
	background: url(../images/dotted-bg.png);
}

div#navigation h1 {
	font-size: 1em;
	margin-bottom: 4%;
}

div#navigation a:hover {
	color: #ab8d77;
}

li.menu_item {
	list-style: none;
	width: 100%;
	padding: 8% 0;
	text-align: center;
	border-bottom: 1px solid #555;
	font-size: 0.8em;
	cursor: pointer;
}

li.menu_item_selected {
	list-style: none;
	width: 100%;
	padding: 8% 0;
	text-align: center;
	border-bottom: 1px solid #555;
	font-size: 0.8em;
	background: url(../images/list.png) left no-repeat;
}

.menu_item a {
	color: #FFF;
	text-decoration: none;
}
.menu_item_selected a {
	color: red;
	text-decoration: none;
}

/* footer */

div#footer {
	width: 100%;
	color: #FFF;
	margin-top: 20%;
}

div#footer h1 {
	font-size: 1em;
	text-align: center;
	margin-bottom: 10%;
}

div#footer p {
	text-align: center;
	font-size: 0.6em;
	margin-top: 2%;
}

div#footer a {
	text-align: center;
	color: #FFF;
	display: block;
	font-size: 0.6em;
	margin-top: 4%;
}

div#footer img {

margin-top: 15%;

}

/* div contenuti a dx*/ 

div#content {
	padding: 2%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 500px;
	color: #FFF;
	background: url(../images/dotted-bg.png);
	
}

div#content a:visited {
	color: #ab8d77;
}

div#content input {

display: block;
}

div#content h1 {
	text-align: center;
	clear: right;
}

div#content h2 {
	text-align: center;
	margin-top: 2%;
}

div#content h3 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

div#content p {
	text-align: justify;
	margin-top: 4%;
	font-size: 0.8em;
}

div#content p a{
	text-align: justify;
	margin-top: 4%;
	font-size: 1em;
	color: #ab8d77;
}

div#content img {
	margin: 4% auto;
	display: block;
	width: 70%;
}

div#social_tab {
	position: fixed;
	left: 95%;
	width: 25px;
	border: 1px solid #FFF;
	background: url(../images/dotted-bg.png);
	float: right;
	margin-top: 2%;
	margin-right: 2%;
	text-align: center;
	padding: 1% 0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

div#social_tab img {
	width: 70%;
}

/* Credits section */

div.author {
	width: 40%;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
}

div.author h1 {
	font-size: 1em;
}

div.author a {
	color: #FFF;
	font-size: 0.7em;
	display: block;
	margin-top: 3%;
	height: 16px;
	text-indent: 30px;
}


div.author img {
	width: 100%;
	height: auto;
	margin: 0;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
}

a.mail_author {
	background: url(../images/credits/mail.png) center left no-repeat;
}

a.facebook_author {
	background: url(../images/credits/facebook.png) center left no-repeat;
}

a.twitter_author {
	background: url(../images/credits/twitter.png) center left no-repeat;
}

a.github_author {
	background: url(../images/credits/github.png) center left no-repeat;
}

/* Cellar section */

div#content table {
	width: 100%;
	margin: 4% 0;
}

div#content table caption {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 4%;
	padding: 2% 0;
	border-bottom: 1px solid #FFF;
}

div#content table th {
	text-align: left;
	font-weight: bold;
	font-size: 1em;
	padding: 2% 2%;
}

div#content table td {
	text-align: left;
	font-size: 0.8em;
	padding: 1% 2%;
}

div#content em {
	font-size: 0.6em;
}

a.download {
	margin-top: 4%;
	margin-bottom: 4%;
	float: right;
	font-size: 0.8em;
	color: #FFF;
	text-indent: 20px;
	background: url(../images/pdf-icon.png) center left no-repeat;
}

/* Menu - Lisitno */
.menu_evento{
	font-size: 0.7em;
}

#content hr{
	margin-bottom: 2%;
}

.box{
	position: absolute; 
	overflow:hidden; 
	height:0;
}

li.listino{
	list-style: none;
	width: 100%;
	padding: 7% 0;
	text-align: center;
	border-bottom: 1px solid #555;
	font-size: 1em;
	cursor: pointer;
}

.listino a {
	color: #FFF;
	text-decoration: underline;
}

.listino a:hover {
	color: #ab8d77;
	text-decoration: underline;
}


/* News */

ul#news_list {
}

ul#news_list li {
	list-style: none;
	margin-bottom: 4%;
	border-bottom: 1px solid #FFF;
	padding: 4% 0;
}

/* Eventi */

li.event {
	width: 96%;
	border-bottom: 1px solid #FFF;
	padding: 2% 2%;
	margin: 6% 0;
	float: left;
}

li.event a {
	color: #FFF;
	font-size: 1em;
	float: right;
	margin-bottom: 2%;
}

li.event a:visited {
	color: #ab8d77;
	font-size: 1.5em;
	float: right;
	margin-bottom: 2%;
}

li.event p {
	clear: right;
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.5em;
}

li.event div {
	width: 100px;
	height: 100px;
	background: url(../images/calendar-icon.png) center no-repeat;
	float: left;
	margin-right: 4%;
	margin-bottom: 4%;
}

li.event div span {
	position: relative;
	left: 5px;
	top: 30px;
	float: left;
	font-weight: bold;
	font-size: 0.6em;
}

li.event div span + span {
	position: relative;
	left: 15px;
	top: 25px;
	float: left;
	font-weight: bold;
	font-size: 1em;
}

li.event div span + span + span {
	clear: left;
	position: relative;
	left: 30%;
	top: 35px;	
	font-size: 2em;
	color: #000;
}

/* Pagina contatti */

div#content form {
 margin-top: 5%;
 outline: 0;
}

div#content input {
 margin-top: 5%;
 outline: 0;
}

div#content fieldset {
 padding: 3%;
 margin-top: 5%;
 margin-bottom: 5%;
 outline: 0;
 font-size: 1em;
 
}


div#content label {
	margin: 4% 0;
	display: block;
}

input.text_input {
	display: block;
	margin: 4% 0;
	padding: 1%;
	width: 40%;
}

input.submit_input {
	width: 10%;
	padding: 1%;
	margin: 2% 0;
}

div#content select {
	padding: 1%;
	width: 43%;
}

div#content textarea {
	width: 98%;
	height: 100px;
	padding: 1%;
}

ul#social_list {
	margin: 4% 0;
}

ul#social_list li {
	display: block;
	margin: 2% 0;
	background: url(../images/facebook-icon.png) center left no-repeat;
	height: 25px;
	text-indent: 40px;
}
ul#social_list li + li {
	display: block;
	margin: 2% 0;
	background: url(../images/twitter-icon.png) center left no-repeat;
	height: 25px;
	text-indent: 40px;
}
ul#social_list li + li +li {
	display: block;
	margin: 2% 0;
	background: url(../images/gplus-icon.png) center left no-repeat;
	height: 25px;
	text-indent: 40px;
}
ul#social_list li + li + li + li {
	display: block;
	margin: 2% 0;
	background: url(../images/tripadvisor-icon.png) center left no-repeat;
	height: 25px;
	text-indent: 40px;
}

ul#social_list li a {
	text-decoration: underline;
	color: #FFF;
}

/* Gallery Item */

div.image_container {
	width: 25%;
	overflow: hidden;
	height: 100px;
	float: left;
	margin-top: 5%;
}

img.gallery_item {
	width: 100%;
}

/* Come raggiungerci*/

div#google_map_canvas {
	width: 80%;
	height: 500px;
	margin: 4% auto;
}

/* Login */

span#loginError {
	color: red;
	float: right;
	margin: 2% 0;
}

/* Admin section */

span#user {
	color: red;
}

div.adminImageList {
	margin: 2% 4%;
	list-style: none;
	width: 20%;
	float: left;
	border: 1px solid #ab8d77;
	height: 100px;
	padding: 2%;
	overflow: hidden;
	clear: right;
}

span.imageName {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 0.8em;
}

div.adminImageList a {
	font-size: 0.7em;
	float: left;
	margin-bottom: 10%;
	margin-left: 10%;
	margin: 10% 4%;
	color: #FFF;
}


div.adminImageList a + a {
	font-size: 0.7em;
	float: right;
	margin: 10% 4%;
	color: #FFF;
}

img.imagePreview {
	clear: both;
}

.highlight{
	box-shadow: 0 0 30px #FF2400;
}

a#insertImageLink {
	float: right;
	margin: 4% 2%;
	font-size: 0.8em;
}
