#slideshowWrapper{
	width: 100%;
	margin: 0 auto;
	float: left;
}

#slideshowWrapper img {
	width: 100%;
}

#fssPrev {
	float: left;
	margin-left: 2%;
	color: #FFF;
}

#fssNext {
	color: #FFF;
	float: right;
	margin-right: 2%;
}

#fssPlayPause {
	background-color: #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 5%;
	text-align: center;
	color: #000;
	text-decoration: none;
	padding: 1%;
	clear: both;
	float: left;
	margin-left: 47.5%;
	margin-top: 2%;
}

ul#slideshow {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 0;
	overflow: hidden;
}
