#slideshowWrapper{
	position: relative;
	width: 100%;
	margin: auto;
}

#slideshowWrapper img {
	width: 100%;
}

#fssPrev {
	float: left;
	margin-right: 2%;
}

#fssNext {
	float: left;
}

#fssPlayPause {
	background: url(../images/white.png) repeat;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 60px;
	text-align: center;
	display: block;
	color: #000;
	text-decoration: none;
	float: right;
	padding: 1%;
	clear: both;
}

ul#slideshow {
	list-style: none;
	margin: 10% auto;
	overflow: hidden;
}

p {
	text-align:center;
}

#fssList {
	list-style: none;
	width: 100%;
	margin: 0 auto;
	float: left;
}

#fssList li {
	display: inline;
	margin-left: 2%;
}

#fssList li a {
	color: #FFF;
	text-decoration: none;
}

#fssList li.fssActive a {
	font-weight: bold;
	color: #000;
}

/*#top {
	background: #3b5998;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
}

#top h1 {
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	padding: 7px 0 0 15px;
}

#top h1 span {
	font-size: 11px;
}

#top h1 a {
	text-decoration:underline;
	color:#fff;
}

#top h1 a:hover {
	text-decoration:none;
}

small a {
	color:#000;
}*/