/* Regole globali per smartphone */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
}

div#container {
	width: 100%;
}

/* Sezione banner */

div#banner {
	width: 100%;
	padding: 5% 0;
	border-bottom: 1px solid #A3856F;
	background-image: url("../images/banner_alt_smartphone.png");
	background-size: 100%; /* CSS3 */
}

div#banner h1 {
	text-align: center;
	display: none;
}

/* Sezione menu di navigazione */

div#navigation {
	width: 25%;
	float: left;
}

span.menu_item {
	width: 100%;
	float: left;
	padding: 10% 0;
	text-align: center;
	font-size: 0.8em;
	border: 1px solid #A3856F;
	color: #FFF;
}

span.menu_item_selected {
	width: 100%;
	float: left;
	padding: 10% 0;
	text-align: center;
	font-size: 0.8em;
	border: 1px solid #A3856F;
	color: #FFF;
	text-decoration: none;
}

/* Sezione contenuto */

div#content {
	width: 60%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	float: left;
	color: #A3856F;
}

/* Spalla sinistra */

div#left_section {
	width: 100%;
	border-bottom: 1px solid #000;
	padding-bottom: 10%;
}

div#left_section h1 {
	text-align: center;
	font-size: 1.5em;
}

div#left_section h2 {
	text-align: center;
	font-size: 1em;
}

div#left_section h3 {
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

/* Spalla destra */

div#right_section {
	width: 100%;
	margin-top: 5%;
	color: #A3856F;
}

div#right_section h1 {
	font-size: 1em;
	text-align: center;
	margin-bottom: 10%;
}

div.news {
	width: 36%;
	margin-left: 8%;
	margin-bottom: 10%;
	float: left;
	border: 1px solid #A3856F;
	padding: 10% 2%;
	text-align: center;
	color: #A3856F;
}

div.news a {
	font-size: 0.8em;
	color: #A3856F
}

div.news p {
	display: none;
}

span.news_date {
	display: none;
}

/* Sezione footer */

div#footer {
	padding: 4%;
	clear: left;
	text-align: center;
	border-top: 1px solid #A3856F;
	color: #A3856F;
}

div#footer p {
	font-size: 0.7em;
	font-style: italic;
}

#credits_link {
	clear: left;
	display: block;
	font-size: 0.7em;
	margin: 2% 0;
}

img.social_icon {
	width: 5%;
	margin-top: 4%;
	margin-left: 4%;
}

img#private_key {
	width: 5%;
}

/* La slideshow iniziale non verrà mostrate nella versione per smartphone */

#slideshowWrapper {
	display: none;
}

#slideshowWrapper img {
	display: none;
}

#fssPrev {
	display: none;
}

#fssNext {
	display: none;
}

#fssPlayPause {
	display: none;
}

ul#slideshow {
	display: none;
}