<?xml version="1.0" encoding="UTF-8"?>
<eventi xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="events.xsd">
	
	<evento id="1">
		<nome>San Valentino</nome>
		<data>
			<giorno>14</giorno>
			<mese>Febbraio</mese>
			<anno>2014</anno>
		</data>
		<descrizione>Cras tincidunt elit dolor, quis tempus enim lobortis ac. In iaculis tortor ut sem feugiat volutpat. Nunc volutpat augue metus, vitae condimentum odio varius et. Sed quis bibendum urna. Vivamus placerat id libero ut commodo. Praesent eu eros tortor. Praesent nisi libero, interdum nec suscipit sit amet, interdum sit amet eros.</descrizione>
		<menu prezzo="50">
			<portata></portata>
		</menu>
	</evento>

	<evento id="2">
		<nome>San Valentino</nome>
		<data>
			<giorno>14</giorno>
			<mese>Febbraio</mese>
			<anno>2014</anno>
		</data>
		<descrizione>Cras tincidunt elit dolor, quis tempus enim lobortis ac. In iaculis tortor ut sem feugiat volutpat. Nunc volutpat augue metus, vitae condimentum odio varius et. Sed quis bibendum urna. Vivamus placerat id libero ut commodo. Praesent eu eros tortor. Praesent nisi libero, interdum nec suscipit sit amet, interdum sit amet eros.</descrizione>
		<menu prezzo="50">
			<portata>Fassone battuto al coltello</portata>
			<portata>Fassone battuto al coltello</portata>
			<portata>Fassone battuto al coltello</portata>
		</menu>
	</evento>

	
 </eventi>