<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
	<title>Modifica menu</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="icon" href="../public-html/images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="../public-html/css/print.css" media="print" />
	<link rel="stylesheet" type="text/css" href="../public-html/css/screen.css" media="screen and (min-width: 1024px)" />
	<link rel="stylesheet" type="text/css" href="../public-html/css/tablet-landscape.css" media="only screen and (min-width: 480px) and (max-width: 1024px)" /> 
	<link rel="stylesheet" type="text/css" href="../public-html/css/smartphone-portrait.css" media="only screen and (max-width: 480px) and (orientation: portrait" />
	<link rel="stylesheet" type="text/css" href="../public-html/css/smartphone-landscape.css" media="only screen and (max-width: 480px) and (orientation: landscape" />
	<script type="text/javascript" src="../public-html/js/jquery.js"></script>
	<script type="text/javascript" src="../public-html/js/common.js"></script>
	<script type="text/javascript" src="../public-html/js/addmenu.js"></script>
</head>
<body>
	<div id="navigation">
		<h1>Pannello amministrazione</h1>
		<ul>
			<li class="menu_item" lang="en"><a href="adminLoader.cgi">Dashboard</a></li>
			<li class="menu_item_selected">Modifica Menu</li>
			<li class="menu_item"><a href="galleryAdminLoader.cgi">Gestione <span lang="en">photogallery</span></a></li>
			<li class="menu_item"><a href="eventsHandler.cgi">Gestione eventi</a></li>
			<li class="menu_item"><a href="newsHandler.cgi">Gestione <span lang="en">news</span></a></li>
			<li class="menu_item"><a href="../public-html/index.html">Torna al sito</a></li>
			<li class="menu_item"><a href="logout.cgi">Logout</a></li>
		</ul>
	</div>
	<div id="content">
		<h1>Modifica menu</h1>
		<form method="post" action="editMenu.cgi" id="form">
			<fieldset id="antipasti">
    			<legend >Antipasti</legend>
    			<tmpl_loop name="antipasti">
    				<label for="antipasto<tmpl_var name="cnt">">Nome piatto</label>
    				<input type="text" name="nome_antipasto" id="antipasto<tmpl_var name="cnt">" value="<tmpl_var name="menu_item">" />
    				<label for="cantipasto<tmpl_var name="cnt">">Prezzo</label>
    				<input type="text" class="elementPrice" name="prezzo_antipasto" id="cantipasto<tmpl_var name="cnt">" value="<tmpl_var name="price">" />
    				<hr />
    			</tmpl_loop>
    			<input type="button" value="Aggiungi antipasto" id="add_antipasto" />
			</fieldset>

			<fieldset id="primi">
    			<legend >Primi Piatti</legend>
    			<tmpl_loop name="primi">
    				<label for="primo<tmpl_var name="cnt">">Nome piatto</label>
    				<input type="text" name="nome_primo" id="primo<tmpl_var name="cnt">" value="<tmpl_var name="menu_item">" />
    				<label for="cprimo<tmpl_var name="cnt">">Prezzo</label>
    				<input type="text" name="prezzo_primo" class="elementPrice" id="cprimo<tmpl_var name="cnt">" value="<tmpl_var name="price">" />
    				<hr />
    			</tmpl_loop>
    			<input type="button" value="Aggiungi primo piatto" id="add_primo" />
			</fieldset>

			<fieldset id="secondi">
    			<legend >Secondi Piatti</legend>
    			<tmpl_loop name="secondi">
    				<label for="secondo<tmpl_var name="cnt">">Nome piatto</label>
    				<input type="text" name="nome_secondo" id="secondo<tmpl_var name="cnt">" value="<tmpl_var name="menu_item">" />
    				<label for="csecondo<tmpl_var name="cnt">">Prezzo</label>
    				<input type="text" class="elementPrice" name="prezzo_secondo" id="csecondo<tmpl_var name="cnt">" value="<tmpl_var name="price">" />
    				<hr />
    			</tmpl_loop>
    			<input type="button" value="Aggiungi secondo piatto" id="add_secondo" />
			</fieldset>

			<fieldset id="dessert">
    			<legend>Dessert</legend>
    			<tmpl_loop name="dessert">
    				<label for="dessert<tmpl_var name="cnt">">Nome piatto</label>
    				<input type="text" name="nome_dessert" id="dessert<tmpl_var name="cnt">" value="<tmpl_var name="menu_item">" />
    				<label for="cdessert<tmpl_var name="cnt">">Prezzo</label>
    				<input type="text" class="elementPrice" name="prezzo_dessert" id="cdessert<tmpl_var name="cnt">" value="<tmpl_var name="price">" />
    				<hr />
    			</tmpl_loop>
    			<input type="button" value="Aggiungi dessert" id="add_dessert" />
			</fieldset>
			
			<fieldset id="degustazione">
    			<legend>Degustazione</legend>
    			<tmpl_loop name="degustazione">
    				<label for="deg<tmpl_var name="cnt">">Portata</label>
    				<input type="text" name="deg_name" id="deg<tmpl_var name="cnt">" value="<tmpl_var name="deg_item">" />
    			</tmpl_loop>
    			<label for="deg_price">Prezzo</label>
    			<input type="text"class="elementPrice" id="deg_price" name="deg_price" value="<tmpl_var name="deg_price">" />
				<input type="button" value="Aggiungi portata" id="add_deg" />
				<hr />
			</fieldset>

			<input type="submit" value="Aggiorna menu" id="add_menu" />
			<input type="reset" value="Reset" />
		</form>
	</div>

</body>
</html>
