<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
	<title>Gestione news</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="icon" href="../public-html/images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
	<link rel="stylesheet" type="text/css" href="../public-html/css/screen.css" media="screen and (min-width: 1024px)" />
	<link rel="stylesheet" type="text/css" href="../public-html/css/tablet-landscape.css" media=" only screen and (min-width: 480px) and (max-width: 1024px) and (orientation:landscape)" /> 
	<link rel="stylesheet" type="text/css" href="../public-html/css/tablet-portrait.css" media="only screen and (min-widht: 480px) and (max-width: 1024px) and (orientation:portrait)" /> 
	<link rel="stylesheet" type="text/css" href="../public-html/css/smartphone-portrait.css" media="only screen and (max-width: 480px) and (orientation: portrait" />
	<link rel="stylesheet" type="text/css" href="../public-html/css/smartphone-landscape.css" media="only screen and (max-width: 480px) and (orientation: landscape" />
	<script type="text/javascript" src="../public-html/js/jquery.js"></script>
	<script type="text/javascript" src="../public-html/js/common.js"></script>
</head>
<body>
	<div id="navigation">
		<h1>Pannello amministrazione</h1>
		<ul>
			<li class="menu_item" lang="en"><a href="adminLoader.cgi">Dashboard</a></li>
			<li class="menu_item"><a href="editMenuLoader.cgi">Modifica Menu</a></li>
			<li class="menu_item_selected">Gestione <span lang="en">photogallery</span></li>
			<li class="menu_item"><a href="eventsHandler.cgi">Gestione eventi</a></li>
			<li class="menu_item_selected">Gestione news</li>
			<li class="menu_item"><a href="../public-html/index.html">Torna al sito</a></li>
			<li class="menu_item"><a href="logout.cgi">Logout</a></li>
		</ul>
	</div>
	<div id="content">
		<h1>
			Gestione <span lang="en">news</span>
		</h1>
		<p>
			In questa pagina puoi gestire tutte le <span lang="en">news</span> del sito. Puoi decidere di inserire una nuova <span lang="en">news</span>, modificarne o eliminarne una esistente.
		</p>
		<a id="insertImageLink" href="insertNewsLoader.cgi">Aggiungi una nuova <span lang="en">news</span></a>
		<table summary="La tabella seguente illustra tutte le news presenti nel sito. Le colonne contengono il titolo, la descrizione, la data, un link per modificare la news e un link per eliminarla.">
			<tr>
				<th scope="col">Titolo</th>
				<th scope="col">Data</th>
				<th colspan="2"></th>
			</tr>
			<tmpl_loop name="news">
				<tr>
					<td><tmpl_var name="title"></td>
					<td><tmpl_var name="date"></td>
					<td><a href="editNewsLoader.cgi?id=<tmpl_var name="id">">Modifica</a></td>
					<td><a href="deleteNews.cgi?id=<tmpl_var name="id">">Elimina</a></td>
				</tr>
			</tmpl_loop>
	</div>

</body>
</html>
